* {
  font-family: "Aurallia", sans-serif;
}
.cardinfo {
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 100px 200px;
}
.imgedit {
  margin: 0 320px;
}
.fullname {
  font-size: xx-large;
}
.child {
  padding: 10px 120px;
}
.footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(220, 53, 69);
  color: white;
  font-size: small;
  padding: 30px;
}
a {
  color: white;
  text-decoration: none;
}
ul {
  display: flex;
  justify-content: center;
  list-style: none;
  text-decoration: none;
}
.copyright {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.ftco-animate {
  margin: 20px;
}
.socialmedia {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
